
:root{
    --black: #000000;
    --white: #FFFFFF;
}


body{
    padding: 5px;
    background-color: var(--bg1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--fontColor);
}
header{
    text-align: center;
    
}

.todo-list{
    list-style: square;
}

.lightTheme1{
    --bg1: var(--white);
    --fontColor: var(--black);
    --btnColor: var(--black);
}

.darkTheme1{
    --bg1: var(--black);
    --fontColor: var(--white);
    --btnColor: var(--white);
}

.mybtn{
    color: var(--btnColor);
}